<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-white.svg" alt="logo" width="264" height="78"></a>

        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/sitemap">Sitemap</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li><a href="/owners">Owners</a></li>
                    <li><a href="/tenants">Tenants</a></li>
                    <li><a href="/rentals">Current Rentals</a></li>
                    <li><a href="/rentals">Apply For a Rental</a></li>
                    <li><a href="https://www.paypal.com/ncp/payment/9RMEJ74HRU9LL" target="_blank">Pay Application Fees</a></li>
                    <li><a href="https://calendly.com/sunseeker-rentals/property-management-call" target="_blank">Schedule A Call</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <div class="credit-inner">
            <img src="/assets/images/fha.png" alt="Equal Housing Opportunity" class="equal-housing-logo">
            <span>Kenneth Ellis Designated Broker - Designed and Hand Coded by <a href="/" target="_blank" rel="noopener">Kolby Web Designs</a>
            </br>
            <span class="copyright">Copyright {% year %} - Present</span></span>
        </div>

    </div>
    
</footer>