---
title: 'Buckeye Utilities'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'buckeye-utilities/'
eleventyNavigation:
    key: Buckeye Utilities
    order: 3300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/utilities.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-447">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Landscaping Services in Sometown, USA</h2>
            <p class="cs-text">
                Please contact us if you have any questions
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-box">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/tree.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Water</h3>
                    <p class="cs-item-text">Liberty</p>
                    <a href="https://libertyutilities.com/" target="_blank" class="cs-link">Set Up Service</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/water-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/water.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/water.png" alt="leaf" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-box">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/truck.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Electric</h3>
                    <p class="cs-item-text">APS</p>
                    <a href="https://www.aps.com/en/Residential/Home" target="_blank" class="cs-link">Set Up Service</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/electric-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/electric.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/electric.png" alt="grass" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-box">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/user.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Trash</h3>
                    <p class="cs-item-text">City of Goodyear</p>
                    <a href="https://www.goodyearaz.gov/government/departments/finance/utilities-customer-service/start-service" target="_blank" class="cs-link">Set Up Service</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/trash-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/trash.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/trash.png" alt="leaves" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-box">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/sticker.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Gas</h3>
                    <p class="cs-item-text">Southwest Gas</p>
                    <a href="https://www.swgas.com/" target="_blank" class="cs-link">Set Up Service</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/gas-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/gas.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/gas.png" alt="path" width="345" height="428">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
                            
{% endblock %}