---
title: 'Tenants'
description: 'Access the tenant portal, apply for a rental, or pay application fees. SunSeeker Rentals makes renting easy with fast support and online tools.'
preloadImg: '/assets/images/cabinets2.webp'
permalink: 'tenants/'
eleventyNavigation:
    key: Tenants
    order: 3100
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/tenants.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1354">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Tenants Page</span>
            <h2 class="cs-title">We’re Committed to Deliver Top High Quality Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="https://sunseeker.appfolio.com/connect/users/sign_in" class="cs-link" target="_blank">
                    <h3 class="cs-h3"><span class="cs-span">View </br>Tenant</span> Portal</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/portal.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portal.webp">
                    <img decoding="async" src="/assets/images/portal.webp" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="https://www.paypal.com/ncp/payment/9RMEJ74HRU9LL" class="cs-link" target="_blank">
                    <h3 class="cs-h3"><span class="cs-span">Pay </br>Application</span> Fees</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/pay-application-fee.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/pay-application-fee.webp">
                    <img decoding="async" src="/assets/images/pay-application-fee.webp" alt="pay-application-fee" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
        <!--    <li class="cs-item">
                <a href="/utility-info" class="cs-link" target="_blank">
                    <h3 class="cs-h3"><span class="cs-span">Utility</span> Info</h3>
                </a> 
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/water-utility.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/water-utility.webp">
                    <img decoding="async" src="/assets/images/water-utility.webp" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>-->
            <li class="cs-item">
                <a href="/rentals" class="cs-link" target="_blank">
                    <h3 class="cs-h3"><span class="cs-span">Apply For</br></span>A Rental</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/apply-for-rental.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/apply-for-rental.webp">
                    <img decoding="async" src="/assets/images/apply-for-rental.webp" alt="apply-for-rental" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}