---
title: 'Utility Info'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'utility-info/'
eleventyNavigation:
    key: Utility Info
    order: 3200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/tenants.css">
    <link rel="stylesheet" href="/assets/css/utility-info.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-2221">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Simplifying the Utility Setup Process</h2>
            <div class="cs-text">Choose the city you're moving to for a full list of utility providers.</div>
        </div>
        <ul class="cs-ul">
            <li class="cs-li">
                <span class="cs-number">01</span>
                <a class="cs-link" href="/goodyear-utilities">
                    <h3 class="cs-h3">Goodyear Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding1.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">02</span>
                <a class="cs-link" href="/buckeye-utilities">
                    <h3 class="cs-h3">Buckeye Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding2.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">03</span>
                <a class="cs-link" href="/surprise-utilities">
                    <h3 class="cs-h3">Surprise Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography3.jpeg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">04</span>
                <a class="cs-link" href="/litchfield-utilities">
                    <h3 class="cs-h3">Litchfield Park Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography1.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">05</span>
                <a class="cs-link" href="/avondale-utilities">
                    <h3 class="cs-h3">Avondale Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding1.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">06</span>
                <a class="cs-link" href="/peoria-utilities">
                    <h3 class="cs-h3">Peoria Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding2.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">07</span>
                <a class="cs-link" href="/glendale-utilities">
                    <h3 class="cs-h3">Glendale Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography3.jpeg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">08</span>
                <a class="cs-link" href="/phoenix-utilities">
                    <h3 class="cs-h3">Phoenix Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography1.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">09</span>
                <a class="cs-link" href="/gilbert-utilities">
                    <h3 class="cs-h3">Gilbert Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding1.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">10</span>
                <a class="cs-link" href="/chandler-utilities">
                    <h3 class="cs-h3">Chandler Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding2.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">11</span>
                <a class="cs-link" href="/mesa-utilities">
                    <h3 class="cs-h3">Mesa Utilities</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography3.jpeg" alt="person" width="352" height="440">
                </picture>
            </li>
            <li class="cs-li">
                <span class="cs-number">12</span>
                <a class="cs-link" href="/tempe-utilities">
                    <h3 class="cs-h3">Tempe</h3>
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photography-arrow.svg" alt="icon" width="48" height="48">
                </a>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography1.jpg" alt="person" width="352" height="440">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                

{% endblock %}